.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
inst/doc
/doc/
/Meta/
.direnv
/debugging/
/debugger
.cursor/
.discussion/
.discussions/
GEMINI.md
README.html
R/ddml_to_did.R
tests/testthat/test-ddml_to_did.R
/.claude
